<!DOCTYPE HTML>
<html>

<head>
  <title>hhd | test</title>
  <script src="http://localhost:9009/webpack-dev-server.js"></script>
  <script src="http://localhost:9009/assets/hhd.js"></script>

  <script>
    window.page_type = '{{ page_type }}';
    console.log(window.page_type);
  </script>
</head>

<body>
  <div>dai.le</div>
</body>

</html>

