$color_twitter: #00aced;
$color_facebook: #3b5998;
$color_googleplus: #dd4b39;
$color_pinterest: #cb2027;
$color_linkedin: #007bb6;
$color_youtube: #bb0000;
$color_vimeo: #aad450;
$color_tumblr: #32506d;
$color_instagram: #517fa4;
$color_flickr: #ff0084;
$color_dribbble: #ea4c89;
$color_quora: #a82400;
$color_foursquare: #0072b1;
$color_forrst: #5B9A68;
$color_vk: #45668e;
$color_wordpress: #21759b;
$color_stumbleupon: #EB4823;
$color_yahoo: #7B0099;
